.bodyForm {
    position: fixed;
    left: 625px;
    height: 100%;
    border-left: 1px solid #9f9ea7;
    box-sizing: border-box;
    top: 0px;
    background-color: white;
}

.head {
    height: 60px;
    width: 975px;
    background-color: #1a4876;
}

.head p {
    color: #ffffff;
    line-height: 60px;
    margin-left: 37px;

}

.content {
    margin-left: 37px;
    margin-top: 55px;
}

.name textarea, .description textarea {
    width: 625px;
    border: none;
    border-radius: 5px;
}

.name p, .description p {
    margin-left: 5px;
    color: #9f9ea7;
}

.name textarea {
    height: 85px;
    margin-top: 14px;
}

.description textarea {
    height: 134px;
    margin-top: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.button {
    height: 36px;
    width: 150px;
    background-color: #008cf0;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.button span {
    line-height: 36px;
}