.field {
    height: 65px;
    width: 1600px;
    background-color: #d1e0ed;
    position: relative;
}

.field__label {
    display: block;
    margin-bottom: 0.25rem;
    margin-top: 3px;
    margin-left: 106px;
}

.field__input {
    border-width: 1px;
    border-color: rgb(66, 170, 255);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgba(0, 140, 240, 0.15), inset 0px 1px 7px 0px rgba(0, 0, 0, 0.11);
    position: absolute;
    left: 112px;
    top: 15px;
    width: 678px;
    height: 38px;
    border-radius: 30px;
    padding-left: 10px;
}