.list {
    display: inline-block;
}

.list {
    height: 1110px;
    overflow: auto;
}

.createApplocation {
    background-color: #008cf0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    margin-left: 262px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.createApplocation p {
    text-align: center;
    margin: 0px;
    color: #ffffff;
    font-size: 100%;
    line-height: 40px;
    font-family: 'Ubuntu', sans-serif;
}

.content {
    background-color: bisque;
    margin-left: 95px;
    padding-top: 25px;
    position: relative;
}

.priority {
    width: 51px;
}

.id {
    width: 82px;
}

.name {
    width: 420px;

}

.status {
    width: 117px;
}

.executor {
    width: auto;
    padding-left: 24px;
}

.id, .name, .status, .executor p {
    font-weight: 500;
    line-height: 51px;
}

p {
    margin: 0px;
}

.priority, .id, .name, .status, .executor {
    height: 51px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid;
    margin-top: 5px;
    vertical-align: middle;
}

a {
    text-decoration: none;
}